<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12 backcolor">
      <div class="col-xs-1">
        {{orderListArr.orderNumber}}
      </div>
      <div class="col-xs-2">
          {{orderListArr.company}}
      </div>
      <div class="col-xs-3">
        {{orderListArr.loadingPlace}}
      </div>
      <div class="col-xs-3">
         {{orderListArr.deliveryPlace}}
      </div>
      <div class="col-xs-3">
        <button class="btn btn-warning" (click)="delOrder(orderListArr.orderNumber)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
