<div class="row">
<div class="col-xs-12 backColor ">
  <h2>Financial details</h2>
  <div class="fontStyle">
    <div class="col-xs-6">
      Number of orders:
    </div>
    <div class="col-xs-6 ">
      {{numberOfOrders}}
    </div>

    <div class="col-xs-6">
      Highest profit
    </div>
    <div class="col-xs-6">
      {{max}}
    </div>
    <div class="col-xs-6">
      Lowest profit
    </div>
    <div class="col-xs-6">
      {{min}}
    </div>
    <div class="col-xs-6">
      Total profit
    </div>
    <div class="col-xs-6">
      {{profit}}
    </div>
  </div>
</div>
</div>
