<div class="backcolor col-xs-12">
  <div class="col-xs-12 orderStyle">
    Zlecenie
  </div>
  <hr>
  <div class="spaces">
    <div class="col-xs-2 labelStyle">
      Firma:
    </div>
    <div class="col-xs-10">
      {{displayContent.company}}
    </div>
  </div>

  <div class="spaces">
    <div class="col-xs-2 labelStyle">
      Trasa:
    </div>
    <div class="col-xs-5">
      {{displayContent.loadingPlace}}
    </div>
    <div class="col-xs-5">
      {{displayContent.deliveryPlace}}
    </div>
  </div>

  <div class="spaces">
    <div class="col-xs-2 labelStyle">
      Stawki:
    </div>
    <div class="col-xs-5">
      {{displayContent.frachtRate}}
    </div>
    <div class="col-xs-5">
      {{displayContent.carrierRate}}
    </div>
  </div>
</div>
